CREATE TABLE IF NOT EXISTS public.event_match_details (id UUID PRIMARY KEY DEFAULT extensions.uuid_generate_v4(), event_id BIGINT NOT NULL REFERENCES events(id) ON DELETE CASCADE, match_id INT NOT NULL, scheduled_time TIMESTAMPTZ, location TEXT, notes TEXT, created_at TIMESTAMPTZ DEFAULT NOW(), updated_at TIMESTAMPTZ DEFAULT NOW(), UNIQUE(event_id, match_id));
