.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.userList {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
}

.userListItem {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
}

.userListItem:hover {
    background-color: #f1f1f1;
}

.main {
  padding: 30px 20px;
  font-family: 'Arial', sans-serif;
  max-width: 1200px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 16px;
}

.heading {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
  color: #333;
}

.userItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  color: #333;
  width: 100%;
  max-width: 600px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.userItem.podium {
  background-color: #ffd700;
  color: #333;
}

.userItem:hover {
  transform: translateY(-5px);
  background-color: #f9f9f9;
}

.rank {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 10px;
}

.name {
  font-size: 1.2rem;
}

.podiumIcon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.userInput {
  background-color: #eee;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 1.2rem;
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.userInput:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.counter {
  text-align: center;
  font-size: 1.5rem;
  color: black;
  margin-bottom: 20px;
}

.counterText {
  text-align: center;
  font-size: 1.5rem;
  color: black;
  margin-bottom: 20px;
}

.rewardText {
  font-size: 1rem;
  color: #555;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .main {
    margin-left: 10px;
    margin-right: 10px;
  }
}